[submodule "meta-ted/recipes-phosphor/ipmi/phosphor-host-ipmid"]
	path = meta-ted/recipes-phosphor/ipmi/phosphor-host-ipmid
	url = https://github.com/Alone0506/phosphor-host-ipmid.git
[submodule "meta-ted/recipes-phosphor/sel-logger/phosphor-sel-logger"]
	path = meta-ted/recipes-phosphor/sel-logger/phosphor-sel-logger
	url = https://github.com/Alone0506/phosphor-sel-logger.git
[submodule "meta-ted/recipes-phosphor/interfaces/bmcweb"]
	path = meta-ted/recipes-phosphor/interfaces/bmcweb
	url = https://github.com/Alone0506/bmcweb.git
[submodule "meta-ted/recipes-phosphor/logging/phosphor-logging"]
	path = meta-ted/recipes-phosphor/logging/phosphor-logging
	url = https://github.com/Alone0506/phosphor-logging.git
[submodule "meta-ted/recipes-phosphor/sensors/dbus-sensors"]
	path = meta-ted/recipes-phosphor/sensors/dbus-sensors
	url = https://github.com/Alone0506/dbus-sensors.git
[submodule "meta-ted/recipes-phosphor/sensors/phosphor-hwmon"]
	path = meta-ted/recipes-phosphor/sensors/phosphor-hwmon
	url = https://github.com/Alone0506/phosphor-hwmon.git
[submodule "meta-ted/recipes-phosphor/sensors/phosphor-nvme"]
	path = meta-ted/recipes-phosphor/sensors/phosphor-nvme
	url = https://github.com/Alone0506/phosphor-nvme.git
[submodule "meta-ted/recipes-phosphor/sensors/phosphor-virtual-sensor"]
	path = meta-ted/recipes-phosphor/sensors/phosphor-virtual-sensor
	url = https://github.com/openbmc/phosphor-virtual-sensor.git
[submodule "meta-ted/recipes-phosphor/dbus/phosphor-dbus-interfaces"]
	path = meta-ted/recipes-phosphor/dbus/phosphor-dbus-interfaces
	url = https://github.com/Alone0506/phosphor-dbus-interfaces.git
[submodule "docs"]
	path = docs
	url = https://github.com/Alone0506/openbmc.wiki.git
[submodule "meta-ted/recipes-phosphor/configuration/entity-manager"]
	path = meta-ted/recipes-phosphor/configuration/entity-manager
	url = https://github.com/Alone0506/entity-manager.git
