[submodule "meta-ted/recipes-phosphor/ipmi/phosphor-host-ipmid"]
	path = meta-ted/recipes-phosphor/ipmi/phosphor-host-ipmid
	url = https://github.com/Alone0506/phosphor-host-ipmid.git
[submodule "meta-ted/recipes-phosphor/sel-logger/phosphor-sel-logger"]
	path = meta-ted/recipes-phosphor/sel-logger/phosphor-sel-logger
	url = https://github.com/Alone0506/phosphor-sel-logger.git
[submodule "meta-ted/recipes-phosphor/interfaces/bmcweb"]
	path = meta-ted/recipes-phosphor/interfaces/bmcweb
	url = https://github.com/Alone0506/bmcweb.git
[submodule "meta-ted/recipes-phosphor/logging/phosphor-logging"]
	path = meta-ted/recipes-phosphor/logging/phosphor-logging
	url = https://github.com/Alone0506/phosphor-logging.git
