build*/*
customrc
*.sw?
.repo/
.vscode/

build*/*
!build/tmp/
build/tmp/**
!build/tmp/deploy/
build/tmp/deploy/**
!build/tmp/deploy/images/
build/tmp/deploy/images/**
!build/tmp/deploy/images/evb-ast2600/
build/tmp/deploy/images/evb-ast2600/**
!build/tmp/deploy/images/evb-ast2600/obmc-phosphor-image-evb-ast2600.static.mtd

!build/tmp/work/
build/tmp/work/**
!build/tmp/work/x86_64-linux/
build/tmp/work/x86_64-linux/**
!build/tmp/work/x86_64-linux/qemu-system-native/
build/tmp/work/x86_64-linux/qemu-system-native/**
!build/tmp/work/x86_64-linux/qemu-system-native/10.2.0/
build/tmp/work/x86_64-linux/qemu-system-native/10.2.0/**
!build/tmp/work/x86_64-linux/qemu-system-native/10.2.0/build/
build/tmp/work/x86_64-linux/qemu-system-native/10.2.0/build/**
!build/tmp/work/x86_64-linux/qemu-system-native/10.2.0/build/qemu-system-arm
